// 覆蓋掉原本的預設bootstrap樣式要放在這下面 _variables.scss

html {
  font-size: 10px;
}
/* 清除內外邊距 */
* {
  /* table elements 表格元素 */
  margin: 0;
  padding: 0;
}
$orange: #f48145;
$darkGary: #858585;
$darkBrown: #a59583;
$brown: #decdbb;
$lightBrown: #f7ede2;
$white: #ffffff;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
//引入字體
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;600&display=swap');

.jess-proD-bg {
  width: 100%;
  height: 75rem;
  background-color: $white;
}
.jess-msg-container {
  width: 100%;
  height: 75rem;
  overflow: scroll;
  // background-attachment: local;
  background-attachment: scroll;
}

.jess-msg-container::-webkit-scrollbar {
  display: none;
}
// .jess-rateStarColor div {
//   outline: none;
//   color: #f48145;
//   width: 14rem;
//   height: 3rem;
// }
.jess-text-30orange {
  font-size: 3rem;
  font-family: 'Noto Serif TC', serif;
  font-weight: bold;
  color: $orange;
  letter-spacing: 1rem;
}
.jess-msg-tittle {
  background-color: #f6f6f6;
  height: 9rem;
}
// .jess-ul {
//   list-style: none;
// }
.jess-msg-todo button {
  width: 13rem;
  height: 3.5rem;
}
.jess-text-20orange {
  font-size: 2rem;
  font-family: 'Noto Sans TC';
  color: $orange;
}
.jess-text-15Gray2 {
  font-size: 1.5rem;
  font-family: 'Noto Sans TC';
  color: $darkGary;
  line-height: 3rem;
  text-align: center;
}
.jess-rateStarColor {
  outline: none;
  text-align: start;
  width: 15rem;
}
.jess-text-15brown {
  font-size: 1.5rem;
  font-family: 'Noto Sans TC';
  color: $darkBrown;
  line-height: 2.5rem;
}
.jess-msg-content {
  background-color: $white;
  height: 9rem;
}
.jess-contentBorder {
  width: 100%;
  border-bottom: 0.1rem solid $brown;
}

@media screen and (max-width: 576px) {
  .jess-proD-bg {
    width: 100%;
    height: 60rem;
    background-color: $white;
  }
  .jess-productTabBorder {
    background: url('../images/SVG/border.svg') no-repeat;
    width: 100%;
    height: 1rem;
    margin-top: 10rem;
  }
  .jess-msg-todo button {
    width: 13rem;
    height: 3.5rem;
    text-align: center;
    font-size: 1rem;
    // top: 40rem;
    // left: 9rem;
  }
  .jess-msg-tittle {
    background-color: #f6f6f6;
    height: 9rem;
    text-align: center;
    display: none;
    left: 0rem;
  }
  .jess-msg-tittle > .jess-text-20orange {
    display: none;
  }
  .jess-text-15Gray {
    font-size: 1.5rem;
    font-family: 'Noto Sans TC';
    color: $darkGary;
    line-height: 2.5rem;
  }
}
