.counter-box {
  outline: 0rem ;
  width: 16rem;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
}

.counter-increment,
.counter-decrement {
  border: 0.1rem solid #858585;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 4rem;
  color: #858585;
  line-height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.counter-increment {
  font-size: 3rem;
  padding-top: 0.2rem;
}

.cursor-default{cursor: default;}
.counter-hover:hover,
// .counter-decrement:hover,
.counter-increment:hover {
  color: #fff;
  background-color: #f6bd60;
}

.counter-count {
  border-top: 0.1rem solid #858585;
  border-bottom: 0.1rem solid #858585;
  width: 9rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  padding-bottom: 0.2rem;
  color: #858585;
}

.counter-count p {
  margin: 0;
  user-select: none;
}

.counter-decrement p,
.counter-increment p {
  user-select: none;
}
