//------------------------------Desktop--------------------------------
.claudia-index-content-fix-container {
  width: 1440px;
  margin: 0px auto;
}

.claudia-index-content-container {
  display: flex;
  width: 80%;
  margin: 0px auto;
  padding-bottom: 6rem;
}

.claudia-index-card {
  width: 50%;
  height: 690px;
  padding: 35px 0px 0px 30px;
}

.claudia-index-map {
  width: 50%;
  height: 690px;
}
//------------------------------Desktop--------------------------------

//-----------------------------Ipad Pro--------------------------------

@media screen and (min-width: 768.1px) and (max-width: 1200px) {
  .claudia-index-content-fix-container {
    width: 100%;
    margin: 0px auto;
  }

  .claudia-index-content-container {
    display: block;
    padding-bottom: 0px;
    width: 100%;
  }

  .claudia-index-map {
    width: 50%;
    height: 715px;
    padding-top: 20px;
  }

  .claudia-index-card {
    height: 0px;
    width: 100%;
    padding: 30px 0px 0px 0px;
  }

}




//-----------------------------Ipad Pro--------------------------------

//--------------------------------Ipad---------------------------------

@media screen and (min-width: 576.1px) and (max-width: 768px) {
  .claudia-index-content-fix-container {
    width: 100%;
    margin: 0px auto;
  }

  .claudia-index-content-container {
    display: block;
    padding-bottom: 0px;
    width: 100%;
  }

  .claudia-index-map {
    width: 50%;
    height: 600px;
    padding-top: 20px;
  }

  .claudia-index-card {
    height: 0px;
    width: 100%;
    padding: 30px 0px 0px 0px;
  }
}

//--------------------------------Ipad---------------------------------

//----------------------Iphone 6/7/8 + Plus + X------------------------
@media only screen and (max-width: 576px) {
  .claudia-index-content-fix-container {
    width: 100%;
    margin: 0px auto;
  }

  .claudia-index-content-container {
    display: block;
    padding-bottom: 0px;
    width: 100%;
  }

  .claudia-index-map {
    width: 50%;
    height: 470px;
    padding-top: 20px;
  }

  .claudia-index-card {
    height: 0px;
    width: 100%;
    padding: 30px 0px 0px 0px;
  }
}

//----------------------Iphone 6/7/8 + Plus + X------------------------
