@import 'Ru/Pages/variable.scss';

// .favorite-btn
.iris-addFavorite-btn:focus{
  outline: none;
}

.iris-addFavorite-btn {
  background-color: $white;
  width: 37px;
  height: 37px;
  border: none;
  border-radius: 5px;
  background-image: url("./Images/addFavoriteA.svg");
  background-repeat: no-repeat;
  background-position: 75% 60%;
  background-size: 32px;
}

.iris-addFavorite-btn:hover {
  background-color: $light-yellow;
  width: 37px;
  height: 37px;
  border: none;
  border-radius: 5px;
  background-image: url("./Images/addFavoriteB.svg");
  background-repeat: no-repeat;
  background-position: 75% 60%;
  background-size: 32px;
}

.iris-addFavorite-btn:active {
  background-color: $dark-yellow;
  width: 37px;
  height: 37px;
  border: none;
  border-radius: 5px;
  background-image: url("./Images/addFavoriteC.svg");
  background-repeat: no-repeat;
  background-position: 75% 60%;
  background-size: 32px;
}