$primary: #f5a016;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

.cha-submit-coupon-add-checkbox input {
  background-color: #faf;
  color: #ffa;
  height: 2rem;
}
.cha-submit-claudia-overlay {
  position: fixed;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.cha-submit-claudia-modal-bg {
  margin: 110px auto 0px auto;
  background-color: white;
  border-radius: 2rem;
  width: 700px;
  height: 600px;
  padding: 6.5rem 7.5rem 6.5rem 8.5rem;
  position: relative;
}
// 我增添的樣式
// .cha-submit-wrap-coupon-container {
//   margin-top: 0rem;
//   // width: 600px;
//   height: 380px;
//   overflow: hidden;
//   overflow-y: scroll;
//   overflow-x: hidden;
//   background-attachment: scroll;
// background-color: rgb(240, 240, 240);
// }
.cha-submit-coupon-add-checkbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
  cursor: pointer;
}
.cha-submit-iris-coupon-box {
  width: 48rem;
}
.cha-submit-wrap-coupon-container::-webkit-scrollbar {
  display: none;
}

.cha-submit-claudia-modal-cross-img {
  background: url(./Images/cross.svg) no-repeat;
  background-position: center center;
  background-size: cover;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  cursor: pointer;
  float: right;
  position: absolute;
  right: 6rem;
  transition: 0.3s;
  visibility: hidden;
}
// .cha-submit-claudia-modal-cross-img:hover {
//   background: url(./Images/cross-black.svg) no-repeat;
//   background-position: center center;
//   background-size: cover;
//   width: 3rem;
//   height: 3rem;
//   transition: 0.3s;
// }

@media only screen and (max-width: 57.6rem) {
  .cha-submit-claudia-modal-bg {
    width: 335px;
    height: 535px;
    padding: 2.5rem 2rem 4.5rem 2rem;
    border-radius: 40px;
    margin: 115px auto;
  }

  .cha-submit-claudia-overlay {
    overflow: hidden;
  }
}

//提交成功的確認況
.cha-submit-modal-container {
  // background-color: rgb(247, 213, 213);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0rem;
  // width: 600px;
}
.cha-submit-modal-container h1 {
  color: #e0611e;
  font-size: 3.6rem;
  margin-bottom: 3rem;
}
.cha-happy-mons {
  background: url(./Images/cha-happy-mons.svg) no-repeat;
  // background-color: #faf;
  background-position: center center;
  background-size: 100%;
  height: 15rem;
  width: 12rem;
  position: relative;
}
.cha-submit-modal-container p {
  font-size: 2rem;
  color: #858585;
  margin-bottom: 0.5rem;
}
.cha-submit-modal-container span {
  color: #535353;
  font-weight: 600;
}
.cha-submit-modal-btn {
  width: 30rem;
  margin-top: 3rem;
  margin-bottom: 8rem;
}
.cha-horizontal-line-in-submit-modal {
  width: 100%;
  border-bottom: 0.1rem solid #8585853a;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.cha-happy-hearts {
  position: absolute;
  top: 0rem;
  left: 0rem;
  animation: heart-move 1s infinite;
}

.cha-happy-heart {
  background: url('./Images/cha-happy-heart.svg') no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;

  // display: none;
}
.cha-happy-heart1,
.cha-happy-heart2 {
  width: 3.5rem;
  height: 3.2rem;
}
.cha-happy-heart3,
.cha-happy-heart4 {
  width: 2.4rem;
  height: 2.2rem;
}
.cha-happy-heart1 {
  top: 6rem;
  left: -2.7rem;
}
.cha-happy-heart2 {
  top: 6rem;
  left: 10.8rem;
}
.cha-happy-heart3 {
  top: 10rem;
  left: -2.7rem;
}
.cha-happy-heart4 {
  top: 10rem;
  left: 12.3rem;
}

.top-arrow {
  width: 22px;
  height: 10px;
  position: absolute;
  top: -20px;
  left: 16px;
}

@keyframes heart-move {
  0% {
    top: 0rem;
    left: 0rem;
  }

  50% {
    top: -1.7rem;
    left: 0rem;
  }

  100% {
    top: 0rem;
    left: 0rem;
  }
}
