.iris-beastie-content-container {
  padding-left: 4%;
  padding-right: 4%;
  margin-top: 3.5rem;
}

.iris-beastie-icons-container {
  align-items: center;
  position: relative;
}

.iris-icon-box {
  margin-left: 10%;
  margin-right: 10%;
  flex-direction: column;
  margin-top: 2.5rem;
}

.iris-rule-book:hover {
  cursor: pointer;
}

.iris-total-coin-box {
  padding-top: 3rem;
}

.iris-beastie-coin {
  color: #f5a016;
  font-size: 2rem;
  margin-top: -1rem;
  bottom: 0;
}

.iris-beastie-box {
  margin-left: 10%;
  margin-right: 10%;
  flex-direction: column;
}

.iris-beastie-name {
  color: #a59583;
  font-size: 2rem;
  display: block;
}

.iris-beastie-name-box {
  margin-bottom: 1.3rem;
}

.iris-beastie-name-input {
  display: none;
  width: 8rem;
  border-radius: 0.5rem;
  border: #858585 0.5px solid;
}
.iris-beastie-name-input:focus {
  border: #f5a016 0.5px solid;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(245, 160, 22, 1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(245, 160, 22, 1);
  box-shadow: 0px 0px 2px 0px rgba(245, 160, 22, 1);
}

.iris-pencil-icon {
  fill: #858585;
}
.iris-pencil-icon:hover {
  fill: #f5a016;
  cursor: pointer;
}

.iris-icon-box p {
  color: #858585;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.iris-coupon-container {
  margin-top: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.iris-coupon-box {
  margin-bottom: 3rem;
  height: 13rem;
  border-radius: 2rem;
  border: 1px #bcbcbc solid;
}

.iris-coupon-icon {
  padding-right: 3.5rem;
  padding-left: 3.5rem;
  height: 8.9rem;
  width: 21.2rem;
}

.iris-coupon-img {
  height: 8.9rem;
  width: 21.2rem;
}

.iris-coupon-title {
  color: #f48145;
  font-size: 1.8rem;
}

.iris-coupon-title-grey {
  color: #858585;
  font-size: 1.8rem;
  opacity: 70%;
}

.iris-coupon-issue {
  color: #858585;
  font-size: 1.5rem;
}

.iris-coupon-issue-grey {
  color: #858585;
  font-size: 1.5rem;
  opacity: 70%;
}

.iris-coupon-due {
  color: #858585;
  font-size: 1.5rem;
}

.iris-coupon-due-grey {
  color: #858585;
  font-size: 1.5rem;
  opacity: 70%;
}

.iris-coupon-info {
  height: 70%;
  justify-content: space-between;
  margin-left: 3.5rem;
  position: relative;
  width: 100%;
}

.iris-coupon-due-text {
  color: #858585;
  font-size: 2.4rem;
  position: absolute;
  bottom: 0;
  right: 5%;
  opacity: 70%;
}

#coupon-img-1 {
  background-image: url('./Images/beastie_coupon10.svg');
  background-size: contain;
  // background-position: 70% center;
  background-repeat: no-repeat;
}
#coupon-img-2 {
  background-image: url('./Images/beastie_coupon20.svg');
  background-size: contain;
  // background-position: 70% center;
  background-repeat: no-repeat;
}
#coupon-img-3 {
  background-image: url('./Images/beastie_coupon30.svg');
  background-size: contain;
  // background-position: 70% center;
  background-repeat: no-repeat;
}
#coupon-img-4 {
  background-image: url('./Images/beastie_coupon40.svg');
  background-size: contain;
  // background-position: 70% center;
  background-repeat: no-repeat;
}
#coupon-img-5 {
  background-image: url('./Images/beastie_coupon50.svg');
  background-size: contain;
  // background-position: 70% center;
  background-repeat: no-repeat;
}
