.iris-content-title-container {
  margin-top: 15rem;
  margin-bottom: 5rem;
  width: 100;
  padding-left: 10%;
  padding-right: 10%;
}

@media (max-width: 992px) {
  .iris-content-title-container {
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 1rem;
  }
}

.iris-profile-title {
  margin-top: 6rem;
  margin-bottom: 2rem;
  color: #a59583;
  font-size: 2.4rem;
  font-weight: bold;
}

.iris-profile-note {
  margin-top: 1.8rem;
  color: #f48145;
  font-size: 1.5rem;
}

.iris-profile-waveline {
  width: 100%;
  overflow: hidden;
}

.iris-input-box {
  min-width: 9rem;
  color: #a59583;
  font-size: 1.8rem;
  text-align: end;
  margin-right: 1rem;
}

.iris-profile-item-wrapper {
  margin-top: 3rem;
}

.iris-profile-item-wrapper-mobile {
  display: none;
}

@media (max-width: 992px) {
  .iris-profile-item-wrapper-xl {
    display: none;
  }
  .iris-profile-item-wrapper-mobile {
    display: block;
  }
}

.iris-form-adjust {
  padding-left: 10%;
  padding-right: 20%;
}

.iris-profile-button Button {
  margin-top: 3.3rem;
  height: 4.5rem;
}

.iris-InputH40 {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  height: 4rem;
}

.iris-password-inconsistent {
  color: red;
  margin-left: 10rem;
  display: none;
}
