@import 'Ru/Pages/variable.scss';

// .ru-addBtn .ru-cart
.ru-checkout-warp .addCart-btn:focus {
  outline: none;
}

.ru-checkout-warp .addCart-btn {
  background-color: $white;
  width: 94.11764705885%;
  height: 45px;
  margin-top: 15px;
  border-radius: 9999px;
  border: 1px solid $light-orange;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.ru-checkout-warp .addCart-btn::after {
  content: "加入購物車";
  width: 200px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  // transition: 屬性1 執行時間1 延遲多久1, ... , 屬性N 執行時間N 延遲多久N
  transition: opacity $two-five $zero-one, background-color $zero $zero,
    color $zero $zero;
  user-select: none;
  @include font(
    // 字體, 字體大小, 字重, 字距, 字色
    $notoSansTC,
    $minor-heading,
    $regular,
    1.25px,
    $light-orange
  );
  @include flex($df, $fdr, $jcc, $alc);
}
// 當 加入購物車 被 按到時
.ru-checkout-warp .addCart-btn:hover::after {
  opacity: 100;
}

.ru-checkout-warp .addCart-btn:active::after {
  background-color: $light-orange;
  color: $white;
}

.ru-checkout-warp .addCart-cart {
  width: 30px;
  transition: $three-five; // 滑鼠滑離.addCart-cart時執行的時間
  transition-delay: $zero-one;
  user-select: none;
}

// 購物車按鈕hover時
.ru-checkout-warp .addCart-btn:hover > .ru-checkout-warp .addCart-cart {
  transform: translateX(-100px);
  transition: $three-five; // 滑鼠hover到.addCart-cart時執行的時間
}

.ru-checkout-warp .addCart-btn-warp {
  width: 100%;
  @include flex($df, $fdc, $jcc, $alc);
}

